workflows/Daily Briefing Agent.json
{
  "name": "Daily Briefing Agent",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "triggerAtHour": 8
            }
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.3,
      "position": [
        -16,
        -112
      ],
      "id": "7f8e270c-c166-40aa-b460-29ebc13d8c14",
      "name": "Schedule Trigger"
    },
    {
      "parameters": {
        "operation": "getAll",
        "calendar": {
          "__rl": true,
          "value": "fathimasumreenmasters@gmail.com",
          "mode": "list",
          "cachedResultName": "fathimasumreenmasters@gmail.com"
        },
        "timeMin": "={{ $now.startOf('day').toISO() }}",
        "timeMax": "={{ $now.endOf('day').toISO() }}",
        "options": {}
      },
      "type": "n8n-nodes-base.googleCalendar",
      "typeVersion": 1.3,
      "position": [
        208,
        0
      ],
      "id": "6cd73206-4514-4db9-b6ba-9a75e5a0d759",
      "name": "Get many events",
      "credentials": {
        "googleCalendarOAuth2Api": {
          "id": "dqpZRFLijIaMUB1L",
          "name": "Google Calendar account"
        }
      }
    },
    {
      "parameters": {
        "aggregate": "aggregateAllItemData",
        "destinationFieldName": "events",
        "options": {}
      },
      "type": "n8n-nodes-base.aggregate",
      "typeVersion": 1,
      "position": [
        416,
        0
      ],
      "id": "22bf0caf-8a44-4f72-b213-ec62c758c00a",
      "name": "Aggregate"
    },
    {
      "parameters": {
        "resource": "databasePage",
        "operation": "getAll",
        "databaseId": {
          "__rl": true,
          "value": "31850f1a527880d7ab65fab970cde697",
          "mode": "id"
        },
        "filterType": "manual",
        "matchType": "allFilters",
        "filters": {
          "conditions": [
            {
              "key": "Status|select",
              "condition": "equals",
              "selectValue": "To Do"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.notion",
      "typeVersion": 2.2,
      "position": [
        624,
        0
      ],
      "id": "e592423d-dffb-4d05-bdf1-3e6fb00f3eb9",
      "name": "Get many database pages",
      "credentials": {
        "notionApi": {
          "id": "URvN51nUo0CJIcdA",
          "name": "Notion account"
        }
      }
    },
    {
      "parameters": {
        "aggregate": "aggregateAllItemData",
        "destinationFieldName": "tasks",
        "options": {}
      },
      "type": "n8n-nodes-base.aggregate",
      "typeVersion": 1,
      "position": [
        816,
        0
      ],
      "id": "fbfffcb7-f196-43df-a896-9781b6c0c489",
      "name": "Aggregate1"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.groq.com/openai/v1/chat/completions",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"model\": \"llama-3.3-70b-versatile\",\n  \"messages\": [\n    {\n      \"role\": \"system\",\n      \"content\": \"You are Fathima's personal AI Chief of Staff. Every morning you send her a clean, friendly briefing. Use this exact structure with proper line breaks between each section:\\n\\nGood morning, Fathima! ☀️\\n\\n📅 *Schedule for [Day, Month Date]*\\n\\n[List each event on its own line as: • HH:MM AM/PM - name]\\nIf no events: '• No meetings today — enjoy the focus time!'\\n\\n✅ *Open Tasks ([count] total)*\\n\\n[List top 3 tasks by priority, each on its own line as: • task name [Priority]]\\nIf more than 3: '• ...and X more tasks in Notion'\\nIf no tasks: '• No open tasks — you are all caught up!'\\n\\n💡 *Today's Focus*\\n\\nOne sentence suggesting what to prioritize based on the schedule and tasks.\\n\\nVery important: Always put a blank line between each section. Always put each event and task on its own separate line. Always use 12-hour time format with AM/PM.\"\n    },\n    {\n      \"role\": \"user\",\n      \"content\": \"Today is {{ $now.format('cccc, MMMM d') }}.\\n\\nCalendar events: {{ $('Aggregate').all().map(i => i.json.events ? i.json.events.map(e => e.summary + ' from ' + e.start.dateTime + ' to ' + e.end.dateTime).join(', ') : '').join('') }}\\n\\nOpen tasks: {{ $('Aggregate1').item.json.tasks ? $('Aggregate1').item.json.tasks.map(t => t.property_task + ' [' + t.property_priority + ']').join(', ') : 'No open tasks' }}\"\n    }\n  ]\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        1008,
        0
      ],
      "id": "9a2452b8-1325-4b18-a1e3-0f55096a6011",
      "name": "HTTP Request",
      "credentials": {
        "httpHeaderAuth": {
          "id": "65rQyfAfQza3pEnm",
          "name": "Header Auth account"
        }
      }
    },
    {
      "parameters": {
        "select": "channel",
        "channelId": {
          "__rl": true,
          "value": "C0AJGEF7XL4",
          "mode": "list",
          "cachedResultName": "daily-briefings"
        },
        "text": "={{ $json.choices[0].message.content }}",
        "otherOptions": {}
      },
      "type": "n8n-nodes-base.slack",
      "typeVersion": 2.4,
      "position": [
        1184,
        0
      ],
      "id": "74ec44f2-f815-424f-8c27-280a82b6bf02",
      "name": "Send a message",
      "webhookId": "9e8e53d3-da32-45f4-8276-a00e6f66ac36",
      "credentials": {
        "slackApi": {
          "id": "rU9t2xxnugStvjNv",
          "name": "Slack account"
        }
      }
    },
    {
      "parameters": {
        "mode": "combine",
        "combineBy": "combineByPosition",
        "options": {}
      },
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        656,
        -480
      ],
      "id": "cb6c2c43-83ab-4a2a-a75e-f71a77a40fb9",
      "name": "Merge"
    }
  ],
  "pinData": {},
  "connections": {
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "Get many events",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get many events": {
      "main": [
        [
          {
            "node": "Aggregate",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Aggregate": {
      "main": [
        [
          {
            "node": "Get many database pages",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get many database pages": {
      "main": [
        [
          {
            "node": "Aggregate1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Aggregate1": {
      "main": [
        [
          {
            "node": "HTTP Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request": {
      "main": [
        [
          {
            "node": "Send a message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge": {
      "main": [
        []
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "availableInMCP": false
  },
  "versionId": "8ba349ec-9cc9-419f-a1c0-84c75c977fa2",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "15455c98984e0e864a78647b4df04b05b7b445706a88ebfe96411e24180fc34e"
  },
  "id": "BeHuPBLwljRqLTFj",
  "tags": []
}